__pycache__/
.vscode
db.sqlite*
requirements.prod.txt
instruction.txt
.env
chromedriver.exe
local_settings.py
*.pyc
*.png
requirements.prod.txt
main copy.py
*.ipynb
start_clipper_local.py
*.log
*.pot
.ipynb_checkpoints
requirements.dev.txt